AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_SESSION_TOKEN=your_session_token_if_using_sts
AWS_DEFAULT_REGION=us-west-2
DD_API_KEY=your_datadog_api_key_here
DD_SITE=datadoghq.com
APP_NAME=prism
ENVIRONMENT=hackathon
NEO4J_URI=neo4j+s://xxxxxxxx.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=your_password_here
